{% extends '../base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block keyword %}{% endblock keyword %}

{% block description %} {% endblock description %}

{% block css %}

{% endblock css %}

{% block about %}active-menu{% endblock about %}
{% block content %}
<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
		<h2 class="ltext-105 text-dark txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
                        We are manufacture of fancy designer embroidery work and additional work Sarees. We have so many designer collections of Sarees. We make best quality fabrics Sarees which is gives more classic look.
						</p>

						<p class="stext-113 cl6 p-b-26">
							<b>Working Hours :</b>
							<p>Monday To Friday : 10:00 AM To 07:00 PM</p>
                            <br>
							<p>Saturday : 10:00 AM To 07:00 PM</p>
                            <br>
							<p>Sunday : Closed</p>
						</p>
                        <br>
						<p class="stext-113 cl6 p-b-26">
							Any questions?

							<address>Shop No G-26, Landmark Empires - B, Surat Kadodara Road, Surat - 395010, Gujarat</address>
							<p>or call us on (+91) 95 377 81000</p>
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="{% static 'images/about-01.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			{% comment %} <div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Mauris non lacinia magna. Sed nec lobortis dolor. Vestibulum rhoncus dignissim risus, sed consectetur erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam maximus mauris sit amet odio convallis, in pharetra magna gravida. Praesent sed nunc fermentum mi molestie tempor. Morbi vitae viverra odio. Pellentesque ac velit egestas, luctus arcu non, laoreet mauris. Sed in ipsum tempor, consequat odio in, porttitor ante. Ut mauris ligula, volutpat in sodales in, porta non odio. Pellentesque tempor urna vitae mi vestibulum, nec venenatis nulla lobortis. Proin at gravida ante. Mauris auctor purus at lacus maximus euismod. Pellentesque vulputate massa ut nisl hendrerit, eget elementum libero iaculis.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
							</p>

							<span class="stext-111 cl8">
								- Steve Job’s 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="{% static 'images/about-02.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div> {% endcomment %}
		</div>
	</section>
{% endblock content %}

{% block js %}

{% endblock js %}